config DRM_AXI_DISPCTRL
	tristate "DRM Support for display contorller on Zynq platforms"
	depends on DRM
	default n
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select VT_HW_CONSOLE_BINDING if FRAMEBUFFER_CONSOLE
