/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "Video Sniffer Zed";
	compatible = "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		spi0 = &qspi;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
		linux,stdout-path = &uart1;
		stdout-path = &uart1;
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};

	amba {
		fpga-axi@0 {
			compatible = "simple-bus";
			#address-cells = <0x1>;
			#size-cells = <0x1>;
			ranges;

			vsniffdatavdma:axivdma@43000000 {
				compatible = "xlnx,axi-vdma-1.00.a";
				#address-cells = <0x1>;
				#size-cells = <0x1>;
				#dma-cells = <0x1>;
				#dma-channels = <0x1>;
				reg = <0x43000000 0x1000>;
				xlnx,num-fstores = <0x1>;
				xlnx,flush-fsync = <0x1>;

				dma-channel1@43000000 {
					compatible = "xlnx,axi-vdma-s2mm-channel";
					interrupts = <0x0 0x1d 0x4>;
					xlnx,datawidth = <0x20>;
					xlnx,genlock-mode = <0x0>;
					xlnx,include-dre = <0x0>;
				};
			};

			vsniffdata@0x7a200000 {
				compatible = "vsniff,video-sniffer-data";
				reg = <0x43c00000 0x10000>;
				dmas = <&vsniffdatavdma 0x1>;
				dma-names = "captured-video";
			};
		};

    output_vdma:axivdma@40030000 {
      compatible = "xlnx,axi-vdma-1.00.a";
      #address-cells = <0x1>;
      #size-cells = <0x1>;
      #dma-cells = <0x1>;
      #dma-channels = <0x1>;
      reg = <0x43010000 0x1000>;
      xlnx,num-fstores = <0x3>;
      xlnx,flush-fsync = <0x1>;

      dma-channel0@80000000 {
        compatible = "xlnx,axi-vdma-mm2s-channel";
        interrupts = <0x0 0x1f 0x4>;
        xlnx,datawidth = <0x20>;
        xlnx,genlock-mode = <0x3>;
        xlnx,include-dre = <0x0>;
      };

      dma-channel1@80000000 {
        compatible = "xlnx,axi-vdma-s2mm-channel";
        interrupts = <0x0 0x20 0x4>;
        xlnx,datawidth = <0x20>;
        xlnx,genlock-mode = <0x2>;
        xlnx,include-dre = <0x0>;
      };
    };

		axi_hdmi@43c00000 {
			compatible = "ant,axi-dispctrl-hdmi-tx";
			reg = <0x43c10000 0x10000>;
			dmas = <&output_vdma 0x0>;
			dma-names = "video";
		};
	};
};

&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "n25q128a11";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x100000 0x500000>;
		};
		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>;
		};
		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x620000 0x5E0000>;
		};
		partition@qspi-bitstream {
			label = "qspi-bitstream";
			reg = <0xC00000 0x400000>;
		};
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&sdhci0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
